<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
        <meta name="description" content="Travel App - Frontend Web Developer Nanodegree capstone project">
    </head>
    <body>
        <div class="container">
            <header class="page-header">
                <h1 class="page-title">
                    <img class="page-logo" src="/media/logo.svg" alt="Travel Planner" />
                </h1>
            </header>
            <nav class="page-nav">
                <button id="new-trip-btn">new</button>
            </nav>
            <main class="page-main">
                <section class="add-new-trip hidden">
                    <form>
                        <div class="location input-box">
                            <label for="location">Trip to</label>
                            <input type="text" id="location" name="location" placeholder="enter location" required />
                        </div>
                        <div class="time input-box">
                            <label for="date">date</label>
                            <input type="date" id="date" name="date" min="2020-06-01" required />
                        </div>
                        <button id="submit" disabled>Add</button>
                    </form>
                </section>
                <section class="trips">
                    <ul class="trips-list">
                        <li class="trips-list-item">
                            <div class="trips-list-item-content">
                                <span class="trips-list-item-date">14.07.2020</span>
                                <hgroup class="trips-list-item-title">
                                    <h2>London</h2>
                                    <h3>United Kingdom</h3>
                                </hgroup>
                            </div>
                            <picture class="trips-list-item-image">
                                <source media="(max-width: 699px)" srcset="https://source.unsplash.com/360x360/?london+landscape">
                                <source media="(min-width: 700px)" srcset="https://source.unsplash.com/640x640/?london+famous+landscape">
                                <img src="https://source.unsplash.com/96x96/?london+landscape" loading="lazy">
                            </picture>
                            <span class="trips-list-item-details weather">
                                <dl class="details-temperature">
                                    <dt>🌡</dt>
                                    <dd>15</dd>
                                </dl>
                                <p class="details-weather">
                                    most cloudly
                                </p>
                            </span>
                            <span class="trips-list-item-details counter">
                                <p class="details-counter">
                                    220 days to this trip!
                                </p>
                            </span>
                            <div class="trips-list-item-menu">
                                <button class="trips-list-item-remove-btn">remove</button>
                            </div>
                        </li>
                    </ul>
                </section>
            </main>
            <footer class="page-footer">
                <p>FEWD capstone project</p>
            </footer>
        </div>
        <script>
            let state
            document.addEventListener('DOMContentLoaded', () => {
                client.eventListeners()
                state = client.AppState()
                client.fetchTrips()
                    .then(trips => state.setTrips(trips))
                    .then(() => {
                        console.log(state)
                        // render all gathered trips or "trigger addNewTripScreen" if no trips
                    })
            })

            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                        .then(() => console.log('SW registered'))
                        .catch(() => console.warn('SW registration failed. Are you using dev mode?'))
                })
            }
        </script>
    </body>
</html>