<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
        <meta name="description" content="Travel App - Frontend Web Developer Nanodegree capstone project">
        <script>let state</script>
    </head>
    <body>
        <div class="container">
            <header class="page-header">
                <h1 class="page-title">
                    <img class="page-logo" src="/media/logo.svg" alt="Travel Planner" />
                </h1>
            </header>
            <nav class="page-nav">
                <button id="new-trip-btn" style="display: none">new</button>
            </nav>
            <main class="page-main">
                <section class="add-new-trip hidden">
                    <form>
                        <div class="location input-box">
                            <label for="location">Trip to</label>
                            <input type="text" id="location" name="location" placeholder="enter location" required />
                        </div>
                        <div class="time input-box">
                            <label for="date">date</label>
                            <input type="date" id="date" name="date" min="2020-06-01" required />
                        </div>
                        <button id="submit" disabled>Add</button>
                    </form>
                </section>
                <section class="trips">
                    <ul class="trips-list"></ul>
                </section>
            </main>
            <footer class="page-footer">
                <p>FEWD Capstone Project</p>
            </footer>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                client.eventListeners()
            })

            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                        .then(() => console.log('SW registered'))
                        .catch(() => console.warn('SW registration failed. Are you using dev mode?'))
                })
            }
        </script>
    </body>
</html>