<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Travel App</title>
        <meta name="description" content="Travel App - Frontend Web Developer Nanodegree capstone project">
    </head>
    <body>
        <div class="container">
            <header class="page-header">
                <h1 class="page-title">
                    <img class="page-logo" src="/media/logo.svg" alt="Travel Planner" />
                </h1>
            </header>
            <nav class="page-nav">
                <ul>
                    <li><a href="/add">new</a></li>
                </ul>
            </nav>
            <main class="page-main">
                <section class="trips">
                    <ul class="trips-list">
                        <li>
                            <a class="trips-list-item" href="/trips/:id">
                                <div class="trips-list-item-content">
                                    <h2 class="trips-list-item-title">
                                        London
                                    </h2>
                                    <dl class="trips-list-item-date">
                                        <dt>Date</dt>
                                        <dd>14.07.2020</dd>
                                    </dl>
                                </div>
                                <img src="https://source.unsplash.com/96x96/?london" class="trip-list-item-image" />
                            </a>
                        </li>
                        <li>
                            <a class="trips-list-item" href="/trips/:id">
                                <div class="trips-list-item-content">
                                    <h2 class="trips-list-item-title">
                                        Vancouver
                                    </h2>
                                    <dl class="trips-list-item-date">
                                        <dt>Date</dt>
                                        <dd>14.07.2020</dd>
                                    </dl>
                                </div>
                                <img src="https://source.unsplash.com/96x96/?vancouver" class="trip-list-item-image" />
                            </a>
                        </li>
                        <li>
                            <a class="trips-list-item" href="/trips/:id">
                                <div class="trips-list-item-content">
                                    <h2 class="trips-list-item-title">
                                        Paris
                                    </h2>
                                    <dl class="trips-list-item-date">
                                        <dt>Date</dt>
                                        <dd>14.07.2020</dd>
                                    </dl>
                                </div>
                                <img src="https://source.unsplash.com/96x96/?new+york" class="trip-list-item-image" />
                            </a>
                        </li>
                        <li>
                            <a class="trips-list-item" href="/trips/:id">
                                <div class="trips-list-item-content">
                                    <h2 class="trips-list-item-title">
                                        New York
                                    </h2>
                                    <dl class="trips-list-item-date">
                                        <dt>Date</dt>
                                        <dd>14.07.2020</dd>
                                    </dl>
                                </div>
                                <img src="https://source.unsplash.com/96x96/?paris" class="trip-list-item-image" />
                            </a>
                        </li>
                    </ul>
                </section>
            </main>
            <footer class="page-footer">
                <p>FEWD capstone project</p>
            </footer>
        </div>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js')
                        .then(() => console.log('SW registered'))
                        .catch(() => console.warn('SW registration failed. Are you using dev mode?'))
                })
            }
        </script>
    </body>
</html>