html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #fffff8;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
    background-color: #f23557;
    color: #f0d43a;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

#container{
    display: grid;
    grid-template-rows: 60px 1fr 48px;
    grid-template-columns: 1fr;
    grid-gap: 1em;
    min-height: 100vh;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    font-size: 1em;
}

.page-title {
    font-size: 2em;
}

.entries {
    background-color: #3b4a6b;
    color: #f0d43a;
    width: 100%;
    max-width: 800px;
    margin: 0.1em auto;
    padding-bottom: 1em;
}

.entries-box {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.entry {
    width: calc(100% - 1em);
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1em 1fr;
    grid-gap: 1em;
    grid-template-areas: 
        "date temp"
        "entry entry";
    justify-content: center;
    text-align: left;
    border-bottom: 1px solid #f0d43a;
}

.entry .date {
    grid-area: date;
}

.entry .temp {
    grid-area: temp;
}

.entry .content {
    grid-area: entry;
}

.date::before {
    content: "🗓";
    margin-right: 0.5em;
}

.temp::before {
    content: "🌡";
    margin-right: 0.5em;
}

.new-entry-form {
    height: calc(100vh - 60px - 1em);
    justify-content: center;
    padding-bottom: 1em;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 1.6em;
    padding: 0.1em 0;
}

input {
    background-color:#22b2da;
    color: #444;
    display:block;
    height: 3em;
    width: 300px;
    font-size: 1.1em;
    border: none;
    text-align: center;
}

#generate {
    width: 300px;
    background-color: #f0d43a;
    color: #3b4a6b;
    font-size: 1.4em;
    border: none;
    box-shadow: 0 0 0.3em #444;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 0.8em;
    padding: 0.5em 0;
}

#generate:hover {
    background-color: #3b4a6b;
    color: #f0d43a;
}

#feelings {
    background:#22b2da;
    color: #444;
    padding: 0.5em 1em;
    width: calc(300px - 2em);
    font-size: 1.3em;
    text-align: center;
}


/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #444; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #444; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #444; 
    font-family: 'Oswald', sans-serif;

} 

/* Reset style for HTML element on active to have no border*/
#zipCode:focus,
select:focus,
#feelings:focus,
#generate:focus {
    outline: none;
    background-color: #3b4a6b;
    color: #f0d43a;
}

.page-footer {
    text-align: center;
    padding: 0.5em 0;
}

@media screen and (min-width: 600px) {
    .input,
    .textarea {
        width: 100%;
    }

    #zipCode {
        width: 65%;
    }

    #feelings {
        width: calc(65% - 2em);
        height: 150px;
    }
}

@media screen and (max-width: 800px) {
    .entries {
        height: auto;
        min-height: calc(100vh - 48px - 1em);
    }
}

@media screen and (min-width: 800px) {
    .page-main {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 1fr;
        grid-gap: 1em;
    }
    .new-entry-form {
        justify-content: flex-start;
        height: calc(100vh - 60px - 3em - 48px);
    }
    .entries {
        justify-content: flex-start;
    }
}

@media screen and (min-height: 1020px) {
    .page-main {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 0.5em;
    }

    .new-entry-form {
        height: calc(50vh - 60px - 2em);
    }

    .entries {
        height: auto;
        min-height: calc(50vh - 48px - 3em);
        width: 80%;
        justify-content: flex-start;
    }
}
