$crayola: #F2F3AE;
$bronze: #D58936;
$rust: #A44200;
$bloodRed: #69140E;
$darkSienna: #3C1518;
$black: #252627;
$white: #F2EFE9;
$cordovan: #904E55;
$claret: #7B0828;
$smokyBlack: #0f0e0e;
$darkBizantinium: #522B47;
$morningBlue: #8DAA9D;
$snow: #FBF5F3;