<!doctype html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Evaluate News NLP</title>
    </head>
    <body>
        <div class="container">
            <header>
                <h1 class="page-title">Website NLP data</h1>
            </header>
            <nav class="page-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#nlp">Evaluate URL</a></li>
                </ul>
            </nav>
            <main>
                <section id="about" class="page-section">
                    <h2 class="section-header">About</h2>
                    <p>about goes here</p>
                </section>
                <section id="nlp" class="page-section">
                    <form>
                        <div class="input">
                            <label for="url">enter URL address</label>
                            <input id="url" type="text" name="url" placeholder="http://example.com" />    
                        </div>
                        <div class="form-options">
                            <button onclick="return client.handleFormSubmit(event, 'hashtags')">Get Hashtags</button>
                            <button onclick="return client.handleFormSubmit(event, 'summarize')">Summarize</button>
                        </div>
                    </form>
                    <div class="results">
                        <h2>Results</h2>
                        <section id="hashtags" class="results-section"><section>
                        <section id="summary" class="results-section"></section>    
                    </div>
                </section>
            </main>
            <footer>
                <p>Developed by Grzegorz Ziolo | FEWD @ Udacity</p>
            </footer>
        </div>
    </body>
    <script>
        // register serviceWorker here
    </script>
</html>
